--
-- PostgreSQL database dump
--

\restrict DjuWTCV9fINciisUgS6It2LrhLfVMMMYBgAGEYWgcuChrE7gE6THlva82kE2eeR

-- Dumped from database version 15.16 (6056289)
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: actors; Type: TABLE; Schema: public; Owner: retool
--

CREATE TABLE public.actors (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    birth_year integer,
    nationality character varying(100)
);


ALTER TABLE public.actors OWNER TO retool;

--
-- Name: actors_id_seq; Type: SEQUENCE; Schema: public; Owner: retool
--

CREATE SEQUENCE public.actors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.actors_id_seq OWNER TO retool;

--
-- Name: actors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: retool
--

ALTER SEQUENCE public.actors_id_seq OWNED BY public.actors.id;


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: retool
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO retool;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: retool
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: retool
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO retool;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: retool
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: retool
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO retool;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: retool
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: retool
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO retool;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: retool
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO retool;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: retool
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: retool
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: retool
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO retool;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: retool
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courses10; Type: TABLE; Schema: public; Owner: retool
--

CREATE TABLE public.courses10 (
    id integer NOT NULL,
    course_name character varying(100) NOT NULL
);


ALTER TABLE public.courses10 OWNER TO retool;

--
-- Name: courses10_id_seq; Type: SEQUENCE; Schema: public; Owner: retool
--

CREATE SEQUENCE public.courses10_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.courses10_id_seq OWNER TO retool;

--
-- Name: courses10_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: retool
--

ALTER SEQUENCE public.courses10_id_seq OWNED BY public.courses10.id;


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: retool
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO retool;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: retool
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: retool
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO retool;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: retool
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: retool
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO retool;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: retool
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: retool
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO retool;

--
-- Name: locations; Type: TABLE; Schema: public; Owner: retool
--

CREATE TABLE public.locations (
    id integer NOT NULL,
    name character varying(150) NOT NULL,
    primary_service character varying(100) NOT NULL,
    address character varying(255) NOT NULL,
    is_active boolean DEFAULT true
);


ALTER TABLE public.locations OWNER TO retool;

--
-- Name: locations_id_seq; Type: SEQUENCE; Schema: public; Owner: retool
--

CREATE SEQUENCE public.locations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.locations_id_seq OWNER TO retool;

--
-- Name: locations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: retool
--

ALTER SEQUENCE public.locations_id_seq OWNED BY public.locations.id;


--
-- Name: movie_cast; Type: TABLE; Schema: public; Owner: retool
--

CREATE TABLE public.movie_cast (
    id integer NOT NULL,
    movie_id integer,
    actor_id integer,
    role_name character varying(100)
);


ALTER TABLE public.movie_cast OWNER TO retool;

--
-- Name: movie_cast_id_seq; Type: SEQUENCE; Schema: public; Owner: retool
--

CREATE SEQUENCE public.movie_cast_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.movie_cast_id_seq OWNER TO retool;

--
-- Name: movie_cast_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: retool
--

ALTER SEQUENCE public.movie_cast_id_seq OWNED BY public.movie_cast.id;


--
-- Name: movies; Type: TABLE; Schema: public; Owner: retool
--

CREATE TABLE public.movies (
    id integer NOT NULL,
    title character varying(200) NOT NULL,
    genre character varying(100),
    release_year integer
);


ALTER TABLE public.movies OWNER TO retool;

--
-- Name: movies_id_seq; Type: SEQUENCE; Schema: public; Owner: retool
--

CREATE SEQUENCE public.movies_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.movies_id_seq OWNER TO retool;

--
-- Name: movies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: retool
--

ALTER SEQUENCE public.movies_id_seq OWNED BY public.movies.id;


--
-- Name: student_courses10; Type: TABLE; Schema: public; Owner: retool
--

CREATE TABLE public.student_courses10 (
    id integer NOT NULL,
    student_id integer,
    course_id integer,
    enrolled_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.student_courses10 OWNER TO retool;

--
-- Name: student_courses10_id_seq; Type: SEQUENCE; Schema: public; Owner: retool
--

CREATE SEQUENCE public.student_courses10_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.student_courses10_id_seq OWNER TO retool;

--
-- Name: student_courses10_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: retool
--

ALTER SEQUENCE public.student_courses10_id_seq OWNED BY public.student_courses10.id;


--
-- Name: students10; Type: TABLE; Schema: public; Owner: retool
--

CREATE TABLE public.students10 (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL
);


ALTER TABLE public.students10 OWNER TO retool;

--
-- Name: students10_id_seq; Type: SEQUENCE; Schema: public; Owner: retool
--

CREATE SEQUENCE public.students10_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.students10_id_seq OWNER TO retool;

--
-- Name: students10_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: retool
--

ALTER SEQUENCE public.students10_id_seq OWNED BY public.students10.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: retool
--

CREATE TABLE public.users (
    id integer NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    email character varying(150) NOT NULL,
    account_type character varying(50) NOT NULL,
    total_points integer DEFAULT 0
);


ALTER TABLE public.users OWNER TO retool;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: retool
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO retool;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: retool
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: visits; Type: TABLE; Schema: public; Owner: retool
--

CREATE TABLE public.visits (
    id integer NOT NULL,
    user_id integer,
    location_id integer,
    visit_type character varying(50) NOT NULL,
    hours_logged numeric(5,2),
    visit_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.visits OWNER TO retool;

--
-- Name: visits_id_seq; Type: SEQUENCE; Schema: public; Owner: retool
--

CREATE SEQUENCE public.visits_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.visits_id_seq OWNER TO retool;

--
-- Name: visits_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: retool
--

ALTER SEQUENCE public.visits_id_seq OWNED BY public.visits.id;


--
-- Name: actors id; Type: DEFAULT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.actors ALTER COLUMN id SET DEFAULT nextval('public.actors_id_seq'::regclass);


--
-- Name: courses10 id; Type: DEFAULT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.courses10 ALTER COLUMN id SET DEFAULT nextval('public.courses10_id_seq'::regclass);


--
-- Name: locations id; Type: DEFAULT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.locations ALTER COLUMN id SET DEFAULT nextval('public.locations_id_seq'::regclass);


--
-- Name: movie_cast id; Type: DEFAULT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.movie_cast ALTER COLUMN id SET DEFAULT nextval('public.movie_cast_id_seq'::regclass);


--
-- Name: movies id; Type: DEFAULT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.movies ALTER COLUMN id SET DEFAULT nextval('public.movies_id_seq'::regclass);


--
-- Name: student_courses10 id; Type: DEFAULT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.student_courses10 ALTER COLUMN id SET DEFAULT nextval('public.student_courses10_id_seq'::regclass);


--
-- Name: students10 id; Type: DEFAULT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.students10 ALTER COLUMN id SET DEFAULT nextval('public.students10_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: visits id; Type: DEFAULT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.visits ALTER COLUMN id SET DEFAULT nextval('public.visits_id_seq'::regclass);


--
-- Data for Name: actors; Type: TABLE DATA; Schema: public; Owner: retool
--

COPY public.actors (id, name, birth_year, nationality) FROM stdin;
1	Leonardo DiCaprio	1974	USA
2	Cillian Murphy	1976	Irish
3	Anne Hathaway	1982	USA
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: retool
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: retool
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: retool
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: retool
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
2	pbkdf2_sha256$1200000$IEleI0kUHss48yp9l7LnwF$/yS/H1whr+iJ8vpOaTeR3d2wp2t8KQKNux+OfYtHMHc=	2026-04-21 00:05:34.041267+00	f	johnsmith	John	Smith	johnsmith@gmail.com	f	t	2026-04-21 00:05:32.434031+00
1	pbkdf2_sha256$1200000$feeyVBlU1MrAOqrIEHyGiK$gkMkoFsg4Tf3YAMLzIZq4/y1VootflP6jd5d91a7e4M=	2026-04-21 00:07:42.219272+00	t	galinat22			natemodg@gmail.com	t	t	2026-04-20 18:54:50.523447+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: retool
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: retool
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: courses10; Type: TABLE DATA; Schema: public; Owner: retool
--

COPY public.courses10 (id, course_name) FROM stdin;
1	BMIS 444
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: retool
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: retool
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	group
3	auth	permission
4	auth	user
5	contenttypes	contenttype
6	sessions	session
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: retool
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: retool
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
aqbucsds7214i2hrr5u4j7i5yteguy79	.eJxVjEEOwiAQAP-yZ0NoYbe0R---gewWkKqBpLQn499Nkx70OjOZN3jet-z3Fle_BJigg8svE56fsRwiPLjcq5pr2dZF1JGo0zZ1qyG-rmf7N8jcMkwgvXMiyIxkXU_IbEk6DkkPho0hQRmcCTQm0ilZTEQYSfTonCGNBJ8v4CU3UQ:1wEyeU:38EgTyN--xlXUo2W2w_PaBdODO_j0eluLurCmkWWprY	2026-05-05 00:07:42.239273+00
\.


--
-- Data for Name: locations; Type: TABLE DATA; Schema: public; Owner: retool
--

COPY public.locations (id, name, primary_service, address, is_active) FROM stdin;
1	Union Gospel Mission	Shelter	1224 E Trent Ave, Spokane, WA 99202	t
2	Union Gospel Mission	Shelter	1224 E Trent Ave, Spokane, WA 99202	t
3	afwafw	Food Pantry	afw	t
4	Vanessa Behan	General Volunteering	2230 E Sprague Ave, Spokane, WA 99202	t
5	Our Place Community Outreach	Clothing	1509 W College Ave, Spokane, WA 99201	t
6	Women & Children's Free Restaurant	Food Pantry	1408 N Washington St, Spokane, WA 99201	t
\.


--
-- Data for Name: movie_cast; Type: TABLE DATA; Schema: public; Owner: retool
--

COPY public.movie_cast (id, movie_id, actor_id, role_name) FROM stdin;
1	1	1	Cobb
2	1	2	Fischer
3	2	2	Scarecrow
4	3	3	Brand
5	3	2	Dr. Mann
\.


--
-- Data for Name: movies; Type: TABLE DATA; Schema: public; Owner: retool
--

COPY public.movies (id, title, genre, release_year) FROM stdin;
1	Inception	Sci-Fi	2010
2	The Dark Knight	Action	2008
3	Interstellar	Sci-Fi	2014
\.


--
-- Data for Name: student_courses10; Type: TABLE DATA; Schema: public; Owner: retool
--

COPY public.student_courses10 (id, student_id, course_id, enrolled_at) FROM stdin;
1	1	1	2026-04-01 20:18:56.389949
\.


--
-- Data for Name: students10; Type: TABLE DATA; Schema: public; Owner: retool
--

COPY public.students10 (id, name, email) FROM stdin;
1	Nate Galit	nateemail.email.email
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: retool
--

COPY public.users (id, first_name, last_name, email, account_type, total_points) FROM stdin;
1	Nate	Galit	nateemail.email@email.com	Volunteer	1000
2	John	Smith	johnsmith@gmail.com	Volunteer	0
\.


--
-- Data for Name: visits; Type: TABLE DATA; Schema: public; Owner: retool
--

COPY public.visits (id, user_id, location_id, visit_type, hours_logged, visit_date) FROM stdin;
1	1	5	Volunteered	10.00	2026-04-08 19:15:45.915767
\.


--
-- Name: actors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: retool
--

SELECT pg_catalog.setval('public.actors_id_seq', 3, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: retool
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: retool
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: retool
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 24, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: retool
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: retool
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 2, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: retool
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: courses10_id_seq; Type: SEQUENCE SET; Schema: public; Owner: retool
--

SELECT pg_catalog.setval('public.courses10_id_seq', 1, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: retool
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: retool
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 6, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: retool
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 18, true);


--
-- Name: locations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: retool
--

SELECT pg_catalog.setval('public.locations_id_seq', 6, true);


--
-- Name: movie_cast_id_seq; Type: SEQUENCE SET; Schema: public; Owner: retool
--

SELECT pg_catalog.setval('public.movie_cast_id_seq', 5, true);


--
-- Name: movies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: retool
--

SELECT pg_catalog.setval('public.movies_id_seq', 3, true);


--
-- Name: student_courses10_id_seq; Type: SEQUENCE SET; Schema: public; Owner: retool
--

SELECT pg_catalog.setval('public.student_courses10_id_seq', 1, true);


--
-- Name: students10_id_seq; Type: SEQUENCE SET; Schema: public; Owner: retool
--

SELECT pg_catalog.setval('public.students10_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: retool
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: visits_id_seq; Type: SEQUENCE SET; Schema: public; Owner: retool
--

SELECT pg_catalog.setval('public.visits_id_seq', 1, true);


--
-- Name: actors actors_pkey; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.actors
    ADD CONSTRAINT actors_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: courses10 courses10_course_name_key; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.courses10
    ADD CONSTRAINT courses10_course_name_key UNIQUE (course_name);


--
-- Name: courses10 courses10_pkey; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.courses10
    ADD CONSTRAINT courses10_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: locations locations_pkey; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_pkey PRIMARY KEY (id);


--
-- Name: movie_cast movie_cast_pkey; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.movie_cast
    ADD CONSTRAINT movie_cast_pkey PRIMARY KEY (id);


--
-- Name: movies movies_pkey; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.movies
    ADD CONSTRAINT movies_pkey PRIMARY KEY (id);


--
-- Name: student_courses10 student_courses10_pkey; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.student_courses10
    ADD CONSTRAINT student_courses10_pkey PRIMARY KEY (id);


--
-- Name: student_courses10 student_courses10_student_id_course_id_key; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.student_courses10
    ADD CONSTRAINT student_courses10_student_id_course_id_key UNIQUE (student_id, course_id);


--
-- Name: students10 students10_email_key; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.students10
    ADD CONSTRAINT students10_email_key UNIQUE (email);


--
-- Name: students10 students10_pkey; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.students10
    ADD CONSTRAINT students10_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: visits visits_pkey; Type: CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.visits
    ADD CONSTRAINT visits_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: retool
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: retool
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: retool
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: retool
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: retool
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: retool
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: retool
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: retool
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: retool
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: retool
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: retool
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: retool
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: retool
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: movie_cast movie_cast_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.movie_cast
    ADD CONSTRAINT movie_cast_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.actors(id) ON DELETE CASCADE;


--
-- Name: movie_cast movie_cast_movie_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.movie_cast
    ADD CONSTRAINT movie_cast_movie_id_fkey FOREIGN KEY (movie_id) REFERENCES public.movies(id) ON DELETE CASCADE;


--
-- Name: student_courses10 student_courses10_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.student_courses10
    ADD CONSTRAINT student_courses10_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses10(id) ON DELETE CASCADE;


--
-- Name: student_courses10 student_courses10_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.student_courses10
    ADD CONSTRAINT student_courses10_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students10(id) ON DELETE CASCADE;


--
-- Name: visits visits_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.visits
    ADD CONSTRAINT visits_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id) ON DELETE CASCADE;


--
-- Name: visits visits_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: retool
--

ALTER TABLE ONLY public.visits
    ADD CONSTRAINT visits_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

\unrestrict DjuWTCV9fINciisUgS6It2LrhLfVMMMYBgAGEYWgcuChrE7gE6THlva82kE2eeR

